.container-design {
  height: 920px;
  display: flex;
  padding: 20px 40px 40px 40px;
  background-color: #f3f3f3;
}

.left-panel {
  flex: 1;
  padding-right: 50px;
}

.left-panel h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.input-group {
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* width: 75%; */
  /* margin-bottom: -10px; */
  /* justify-content: flex-end; */
  padding-bottom:-20px;
  margin-left: 10px;
}

.input-group input {
  flex: 1;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  background-color: white;
  width: 50%;
}

.input-group select {
  flex: 1;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  background-color: white;
  width: 53%;
}

.input-group span {
  margin-left: 8px;
  font-size: 14px;
  color: gray;
}

.left-panel button {
  margin-top: 10px;
  margin-left: 32%;
  padding: 10px 10px;
  background-color: #064b23;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
}

.right-panel {
  flex: 1;
  text-align: center;
}

.dpw {
  font-weight: 600;
  margin-bottom: 10px;
}

.wafer-image {
  width: 100%;
  max-width: 360px;
  height: auto;
  border-radius: 50%;
  background-color: white;
}

.rapidus-logo {
  margin-top: 16px;
}

.download-link {
  margin-top: 10px;
  display: inline-block;
  color: #00401A;
  text-decoration: underline;
  font-weight: 500;
}
